body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 400px) {
  .title {
    text-align-last: center;
    white-space: nowrap;
    font-size: 28px !important;
  }
  .sub-title {
    font-size: 13px !important;
    right: 5px;
    text-align-last: center;
    white-space: nowrap;
  }
  .btn{
    margin-top: 10px;
  }
}

@media (max-width: 220px) {
  .title {
    font-size: 20px !important;
    text-align-last: center;
    white-space: nowrap;
  }
  .sub-title {
    text-align-last: center;
    white-space: nowrap;
    font-size: 10px !important;
    right: 5px;

  }
  .btn{
    margin-top: 10px;

  }
}